extends layout
block content
h1= title
- let donutid = toShow._id
- let cakeFlavor = toShow.cakeFlavor
- let iceFlavor = toShow.iceFlavor
- let sprinkleAmount = toShow.sprinkleAmount
div
div.row
div(class='donutAttr mr-3') Donut ID is:
div #{donutid}
div.row
div(class='donutAttr mr-3') Cake Flavor is:
div #{cakeFlavor}
div.row
div(class='donutAttr mr-3') Icing Flavor is:
div #{iceFlavor}
div.row
div(class='donutAttr mr-3') Sprinkle Amount is:
div #{sprinkleAmount}
