extends layout
block content
h1= title
- let costumeid = toShow._id
- let costume_type = toShow.costume_type
- let costumecost = toShow.cost
- let costumesize = toShow.size
div
div.row
div(class='donutAttr mr-3') Donut ID is:
div #{donutid}
div.row
div(class='donutAttr mr-3') Donut Type is:
div #{donut_type}
div.row
div(class='donutAttr mr-3') Donut Size is:
div #{donutsize}
div.row
div(class='donutAttr mr-3') Donut Cost is:
div #{donutcost}
